@import "settings.less";
#homepage-canvas {
  width: 100% !important;
}

.home-contacts {
  position: absolute;
  right: 0;
  margin-right: 100px;
  margin-top: 50px;

  .glyphicon {
    font-size: 18px;
    margin-right: 10px;

  }
  span {
    font-size: 20px;
  }
}

.page-header {
  font-family: 'NeueHelveticaBold';
  position: absolute;
  z-index: 1;
  left: -500px;
  border-bottom: none;

  h1 {
    font-size: 60px;
    margin-bottom: 0px;
    margin-top: 0px;
    color: @color-1;

  }

  h1:last-child {
    margin-left: 100px;
  }

  @media screen and (max-width: 980px) {
    h1 {
      font-size: 50px;
    }
  }

  @media screen and (max-width: 850px) {
    h1 {
      font-size: 40px;
    }
  }

  @media screen and (max-width: 500px) {
    h1 {
      font-size: 30px;
    }

    h1:last-child {
      margin-left: 40px;
    }
  }
}

.introduction {
  position: absolute;
  margin-left: 5%;
  margin-right: 5%;
  opacity: 0;
  top: 1000px;
  width: 90%;


  h1 {
    width: 95%;
    margin-left: 2.5%;
    font-family: 'NeueHelveticaBold';
    font-size: 40px;
    white-space: nowrap;
  }

  @media screen and (max-width: 980px) {
    h1 {
      font-size: 30px;
    }
  }

  @media screen and (max-width: 700px) {
    h1 {
      font-size: 20px;
    }
  }

  @media screen and (max-width: 500px) {
    h1 {
      font-size: 15px;
    }
  }

  div.underline {
    height: 20px;
    border-bottom: 5px solid @color-5;
    border-left: 5px solid @color-5;
    border-right: 5px solid @color-5;
  }
}

.why-block {
  display: block;
  border-top: 1px solid @color-1;
  width: 100%;
  background: @color-1;
  color: #fff;
  font-family: 'NeueHelveticaLight';
  padding-bottom: 100px;

  .header, .footer {
    text-align: center;
    margin-top: 80px;
    padding-bottom: 100px;

    h1 {
      margin-top: 0px;
      font-family: 'NeueHelveticaBold';
      font-size: 60px;
      letter-spacing: 5px;
    }

    span {
      font-family: 'NeueHelveticaBold';
      font-size: 80px;
      letter-spacing: 5px;
      text-transform: uppercase;
    }
  }

  .block-content {
    display: block;
    width: 100%;
    margin-left: 0%;
    padding-bottom: 50px;

    .content-column {
      display: block;
      position: relative;
      width: 220px;
      float:left;

      p {
        font-family: 'NeueHelveticaBold';
        font-size: 35px;
        letter-spacing: 5px;
        text-transform: uppercase;
        margin-bottom: 5px;
        position: absolute;
        background: #fff;
        color: @color-1;
        padding-left: 15px;
        padding-right: 15px;
      }

      p.top {
        margin-top: -45px;
      }

      p.creative {
        margin-left: -30px;
      }

      p.passionate {
        margin-left: -55px;
      }

      p.hardworking {
        margin-left: -80px;
      }

      p.responsible {
        margin-left: -65px;
      }

      p.handsome {
        margin-left: -45px;
      }

      p.bottom {
        margin-top: 175px;
      }

      .svg-image {
        border: 10px solid #fff;
        width: 180px;
        height: 180px;

        svg {
          width: 100%;
          height: 100%;
          padding: 10px;
          g {
            fill: #fff;
          }

          path {
            fill: #fff;
          }
        }
      }
    }
  }
}

.home-skills-block {
  background: @color-4;
  padding-top: 0px;
  padding-bottom: 100px;
  color: @color-9;
  border-top:10px solid @color-9;
  text-align: center;
  
  h1 {
    font-family: 'NeueHelveticaBold';
    font-size: 60px;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
  }

  .header {
    text-align: center;

    image {
      display: inline-block;
    }
  }
}