<div class="menu-icon" ng-include="'partials/templates/homepage_menu_svg_icon.html'"></div>

<div class="img-block">
    <div class="img-container"></div>
    <div class="name">
        <span class="uppercase">Herman Leus</span>
    </div>
</div>
<div class="nav-container">
    <ul>
        <li menu-img-slide><a href="" data-img-class="why">Why</a></li>
        <li menu-img-slide><a href="" data-img-class="about">About</a></li>
        <li><a href="">Blog</a></li>
        <li menu-img-slide><a href="" data-img-class="skills">Skills</a></li>
        <li menu-img-slide><a href="" data-img-class="experience">Experience</a></li>
        <li class="uppercase" hover-brain><a href="">Dreams</a></li>
    </ul>
</div>
<div class="socials-container">
    <ul></ul>
</div>