<div class="header">
  <h1>I AM</h1>
</div>
<div class="block-content row">
  <div class="col-sm-2 col-lg-offset-1">
    <div class="content-column">
      <p class="top creative">creative</p>
      <div class="svg-image" ng-include="'images/vector/ideaLamp.svg'"></div>
    </div>
  </div>

  <div class="col-sm-2">
    <div class="content-column">
      <p class="bottom passionate">passionate</p>
      <div class="svg-image" ng-include="'images/vector/github4.svg'"></div>
    </div>
  </div>

  <div class="col-sm-2">
    <div class="content-column">
      <p class="top hardworking">hardworking</p>
      <div class="svg-image" ng-include="'images/vector/black56.svg'"></div>
    </div>
  </div>

  <div class="col-sm-2">
    <div class="content-column">
      <p class="bottom responsible">responsible</p>
      <div class="svg-image" ng-include="'images/vector/glasses.svg'"></div>
    </div>
  </div>

  <div class="col-sm-2">
    <div class="content-column">
      <p class="top handsome">handsome</p>
      <div class="svg-image" ng-include="'images/vector/maleHaircut.svg'"></div>
    </div>
  </div>
</div>
