<div class="page-header show">
    <h1>{ Herman Leus</h1>
    <h1>Javascript Ninja }</h1>
</div>

<canvas id="homepage-canvas" resize canvas-homepage></canvas>

<div class="introduction" introduction-container>
    <div class="mouth"></div>
    <p>Wlecome to my Website! My name is <span class="name">HERMAN LEUS</span> and I am <span class="occupation">super passionate <span class="javascript">Javascript</span> developer </span> devoted to the beauty of web arts.
        This is my personal Website where I can push the possibilities of creativity and technology as one indivisible whole.
        Here you can find all information about me including all social links and projects that I took part in or just enjoy my works XD.</p>
    <div class="underline"></div>
</div>
