<div class="page-header" web-titles>
    <h1>{ Herman Leus</h1>
    <h1>Javascript Ninja }</h1>
</div>

<canvas id="homepage-canvas" resize canvas-homepage></canvas>

<div class="introduction" introduction-container>
  <h1>WELCOME TO MY PERSONAL WEBSITE!</h1>
  <div class="underline"></div>
</div>

<div class="why-block">
    <div class="header">
        <h1>I AM</h1>
    </div>
    <div class="block-content row">
        <div class="col-sm-2 col-lg-offset-1">
            <div class="content-column">
                <p class="top">creative</p>
                <div class="svg-image" ng-include="'images/vector/ideaLamp.svg'"></div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="content-column">
                <p class="bottom">passionate</p>
                <div class="svg-image" ng-include="'images/vector/github4.svg'"></div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="content-column">
                <p class="top">hardworking</p>
                <div class="svg-image" ng-include="'images/vector/black56.svg'"></div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="content-column">
                <p class="bottom">responsible</p>
                <div class="svg-image" ng-include="'images/vector/glasses.svg'"></div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="content-column">
                <p class="top">handsome</p>
                <div class="svg-image" ng-include="'images/vector/maleHaircut.svg'"></div>
            </div>
        </div>
    </div>

    <div class="footer">
        <h1>DEVELOPER</h1>
    </div>
</div>
        
<div class="about-block">

</div>
