<div class="page-header" web-titles>
    <h1>{ Herman Leus</h1>
    <h1>Javascript Ninja }</h1>
</div>

<div class="home-contacts">
  <span><span class="glyphicon glyphicon-envelope"></span>leus.herman@gmail.com</span>
</div>

<canvas id="homepage-canvas" resize canvas-homepage></canvas>

<div class="introduction" introduction-container>
  <h1 class="uppercase">"A Person with a new idea is a crank until the idea succeeds."</h1>
  <div class="underline"></div>
</div>

<div class="why-block"  ng-include="'partials/templates/why.html'"></div>

<div class="home-skills-block"  ng-include="'partials/templates/skills.html'">

</div>
